*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.nav_container{
  position: relative;
  width: 100vw;
  height:2.5rem;
  background-color: black;
}
.nv{
  display: flex;
  float: right;
  right: 2rem;
  padding: 9px;
  gap: 2rem;
  position: fixed;
  
}
.nv > button {
  border: none;
  text-decoration: none;
  background-color: black;
}
.link{
  text-decoration: none;
  color: white;
  font-size: medium;
  border-style: none;
}


